* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: paleturquoise;
}
.contact {
    text-align: right;
}

.resume-section {
    padding: 3rem;
}

h1 {
    text-decoration: underline;
    color: lightcoral;
}